body{
  text-align: center;
}


.top{
  clear: left;
  background-color: blue;
  margin: auto;
}

.menu{
  clear: left;
  background-color: green;
  margin: auto;
}

.main{
  clear: left;
  background-color: red;
  max-height: 85vh;
  margin: auto;
}

.focus{
  clear: both;
  max-height: 85vh;
  max-width: 95vw;
  margin: auto;
}

.previous{
  float: left;
  text-align: left;
  width: 33%;
}

#previous{
  text-align: left;
  padding-right: 0px;
}

.title{
  float: left;
  text-align: center;
  width: 33%;
}

#title{
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

.next{
  float: left;
  text-align: right;
  width: 33%;
}

#next{
  text-align: right;
  padding-left: 0px;
}

.controls{
  clear: both;

}

.info{
  clear: left;
  background-color: brown;
  margin: auto;
}

.footer{
  clear: left;
  background-color: yellow;
  margin: auto;
}

img{
  max-width: inherit;;
  max-height: inherit;
}
