<!DOCTYPE html>
<html lang="en" ng-app="gallery">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>A gallery</title>
  <link rel="stylesheet" href="css/uikit.gallery.css" />
  <link rel="stylesheet" href="css/components/slider.almost-flat.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" />
  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="js/uikit.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/components/slider.js"></script>
  <script src="js/gallery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>


</head>
<body ng-controller="galleryCtrl">
  <div class="uk-container uk-container-center uk-margin-top uk-margin-bottom" >
    <div class="uk-panel uk-panel-box uk-text-center ">
      <div class="uk-grid uk-margin-bottom ">
        <div class="uk-width-1-2 uk-text-left">
          <p>Gallery Title</p>
        </div>
        <div class="uk-width-1-2 uk-text-right">
          <ul class="uk-subnav ">
            <li><a href="" active>Colours</a></li>
            <li><a href=""> BlackandWhite </a></li>
            <li><a href=""> Strangers </a></li>
            <li><a href=""> Meetmeat  </a></li>
          </ul>
        </div>
      </div>

      <div class="container slider">
    <img ng-repeat="slide in slides" class="slide" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">

    <nav class="nav">
      <div class="wrapper">
        <ul class="dots">
          <li class="dot" ng-repeat="slide in slides">
            <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
            ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
          </ul></div>
        </nav>
      </div>
      <!--
      <img src="images/bandw/3.jpg" alt="Such a nice car"  />
      <p>
        Such a beautifuul car
      </p>
    -->
    </div>
  </div>
</body>
</html>
